/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */
html body {
  background-image: url("/images/background.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-color: #f5f5f5 !important;
}